<section class="w-full">
  <h2 class="text-xl font-bold text-textColor">Recursos sugeridos</h2>
  <app-primary-bar />
  <article class="grid grid-cols-2 lg:grid-cols-4 mb-4">
    <app-card
      title="Mi usuario"
      description="Muestra los datos referentes a tu perfil."
      img="/icons/usuario.webp"
      routerLink="usuario"
    />
    <app-card
      title="Aplicaciones Internas"
      description="Explora nuestras aplicaciones departamentales"
      img="/icons/apps.webp"
      routerLink="aplicaciones"
    />
    <app-card
      title="Listado Telefónico"
      description="¿No encuentras algún contacto? Utiliza nuestro buscador."
      img="/icons/agenda.webp"
      routerLink="telefonos"
    />

    <app-card
      title="Servicios"
      description="Principales servicios con su correo y telefono de contacto."
      img="/icons/services.webp"
      routerLink="servicios"
    />
  </article>
</section>
