<div class="my-10 max-w-[50rem] text-textColor flex flex-col items-start">
  <h2 class="tracking-widest text-xs font-extrabold">
    HOSPITAL PROVINCIAL DE CASTELLÓN
  </h2>

  <h1 class="text-[#2cb7ab] font-bold text-[2rem] tracking-tight mb-4">
    Bienvenid&#64; a la intranet
  </h1>
  <p class="mb-4">
    Os damos la bienvenida a nuestra nueva Intranet, un espacio imprescindicble,
    actualizado y creado por el Servicio de Sistemas de la Información para
    facilitar el trabajo diario.
  </p>
  <p class="mb-4">
    Así, esta plataforma digital pone a disposición del personal contenidos,
    archivos y herramientas de interés con el fin de favorecer nuestra labor y
    reforzar la colaboración y comunicación entre todas las personas que
    formamos parte del Consorci Hospitalari Provincial de Castelló.
  </p>
</div>
<div class="mr-16 h-[2px] flex w-full bg-gray-100 my-6"></div>
